.modifyUser {
    flex: 9;
    height: calc(100vh - 50px);
    padding-top : 40px;
    margin-right: 170px;
}

.userProfilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

form {
    text-align: center;
    margin: 10px 0;
}

.userUsername, .userCompanyRole, .userEmail  {
    font-style: italic;
}

.validateButton {
    border: none;
    width: 400px;
    padding: 7px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #0065FC;
    font-weight: 500;
    cursor: pointer;
    margin: 10px auto;
}

.modifyInput {
    height: 16px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 14px;
    padding-left: 10px;
    margin: 10px 0;
    width: 450px;
    text-align: center;
}

hr {
    margin: 25px 0;
}

form > h2 {
    padding-bottom: 10px;
}

.validateButton.redBtn {
    background-color: #FF0000;
}

.userProfilePictureContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userProfilePictureTitle {
    margin: auto;
}

@media (max-width: 992px) {
    .modifyUser {
        margin-right: 0;
    }
    .modifyTitle {
        text-align: center;
    }
    .wrapper > form {
        margin: 0 20px;
    }
}

@media (max-width: 576px) {
    .wrapper > form > input {
        width: 90%;
    }
    .validateButton {
        width: 90%
    }
}