.login {
    width: 100vw;
    height: 100vh;
    background-color: #F0F2F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft, .loginRight {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.loginLogo {
    font-size: 3em;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDescription {
    font-size: 24px;
}

.loginBox {
    height: 300px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #1775ee;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:focus, .loginRegisterButton:focus {
    outline: none;
}

.loginButton:disabled, .loginRegisterButton:disabled {
    cursor: not-allowed;
}

.loginRegisterButton {
    width: 75%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #42b72a;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 50px;
}