.feed {
    flex: 9;
    height: calc(100vh - 50px);
    padding-top : 20px;
}

.feedWrapper {
    padding: 20px;
}


@media (max-width: 992px) {
    .feedWrapper {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
}

@media (max-width: 576px) {
    .feedWrapper {
        width: 90%;
    }
}

@media (max-width: 375px) {
    .feedWrapper {
        width: 88%;
    }
}