.post {
    width: 80%;
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    border-radius: 10px;

}

.commentWrapper {
    margin-top: 5px;
    padding: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    border-radius: 10px;
}

.addComment {
    margin-top: 5px;
    padding: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    border-radius: 10px;
}

.commentInput > .shareInput {
    line-height: 50px;
    height: 30px;
    margin: 0;
    padding-left: 10px;
}

.commentInput  {
    display: flex;
    justify-content: space-between;
}

.postTop {
    display: flex;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postTopRight {
    margin-right: 10px;
    width: 120px;
    display: flex;
    justify-content: flex-end;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
    cursor: pointer;
    line-height: 32px;
    height: 32px;
}

.postUserRole {
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    height: 32px;
}

.postDate {
    font-size: 12px;
    height: 32px;
    line-height: 33px;
    margin: 0 5px;
}

.postCenter {
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.postTitle {
    font-weight: 500;
    margin-bottom: 15px;
}
.postImg {
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.postBottomRight {
    display: flex;
    justify-content: flex-end;
}

.postCommentText {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    border-bottom: 1px dashed grey;
    font-size: 14px;
    margin-right: 10px;
}

.editPostInput {
	line-height: 50px;
	height: 30px;
	margin: 0;
	outline: solid 1px #0065FC;
	width: 89%;
	font-size: 16px;
}

.editIcon {
    color: blue;
    background-color: inherit;
}

.deleteIcon {
    color: red;
    background-color: inherit;
}

.toggleIcons {
    color: black;
    background-color: inherit;
}

.editIcon, .deleteIcon, .toggleIcons {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: none;
    cursor: pointer;
}


@media (max-width: 992px) {
    .post {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .postTop {
        flex-direction: column-reverse;
    }
    .postTopLeft {
        width: 100%;
        justify-content: space-between;
    }
    .postTopRight {
        align-self: end;
    }
    .postUsernameAndRole {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    .postTopLeft {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
    }
    .postTopRight {
        position: absolute;
        right: 10px;
    }
    .postUsername {
        margin: 0;
    }
    .postDate {
        margin: 0;
    }
    .commentInput {
        flex-direction: column;
    }
} 